body {
  color: $primary-color;
  background-color: white;;
  color: $secondary-color;
}
#generateBtn {
  padding: 10px;
  color: white;
  background-Color:$primary-color;
  border: 1px solid $primary-color;
  min-width:200px;
  max-width: 200px;
}
.box{
  display:flex;
  justify-content: center;
}
.haiku{
  padding: 10px;
  border: 1px solid $secondary-color;
  margin: 10px;
}
.displayNone{
  display:none;
}
#appDiv{
  display:flex;
  flex-direction: column;
  justify-content: center;
}